<div class="container">
    <h2>Olá!</h2>
    <p>Este projeto foi desenvolvido como parte da finalização do meu aprendizado no bootcamp de Java + Angular. Aqui, criei uma aplicação para o controle de transações financeiras, permitindo a inserção, exclusão e alteração de transações. Além disso, você pode conferir o gasto total e por categoria e obter outras informações sobre as transações.</p>
    <p>Essa aplicação é desenvolvida com Spring Boot e Angular, combinando o back-end com o front-end para oferecer uma experiência intuitiva e eficiente. Além disso, a aplicação também faz conexão com o banco de dados MySQL, criando uma experiencia mais real do processo.</p>
    <p>Estou muito orgulhosa do trabalho que realizei e animada para compartilhar essa jornada com você. Sinta-se à vontade para explorar e experimentar todas as funcionalidades.</p>
    <h2>Seja bem-vindo(a)!</h2>
    <p>
        <button (click)="acessarTransacoes()">Ver as transações </button>
    </p>
</div>
